.tourTitle {
    position: fixed;
    z-index: 1;
    width: 300px;
    height: 40px;
    text-align: center;
    left: 50%;
    margin-left: -150px;
    top: max(25px, 5vh);
    font-family: Cocogoose;
    font-size: 48px;
}

.backwards {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.redLetter {
    -webkit-text-stroke: 2px red;
    font-family: DeltaMachine2;
}