@font-face {
    font-family: Dotmatrx;
    src: url(./Dotmatrx.ttf) format("truetype");
}

.Dotmatrx {
    font-family: Dotmatrx;
}

@font-face {
    font-family: Revelator;
    src: url(./Revelator.ttf) format("truetype");
}

.Revelator {
    font-family: Revelator;
}

@font-face {
    font-family: Pain;
    src: url(./Pain.ttf) format("truetype");
}

.Pain {
    font-family: Pain;
}

@font-face {
    font-family: Punch;
    src: url(./Punch.ttf) format("truetype");
}

.Punch {
    font-family: Punch;
}

@font-face {
    font-family: DeltaMachine2;
    src: url(./DeltaMachine2.ttf) format("truetype");
}

.DeltaMachine2 {
    font-family: DeltaMachine2;
}

@font-face {
    font-family: Precious;
    src: url(./Precious.ttf) format("truetype");
}

.Precious {
    font-family: Precious;
}

@font-face {
    font-family: Angel1;
    src: url(./Angel1.ttf) format("truetype");
}

.Angel1 {
    font-family: Angel1;
}

@font-face {
    font-family: Barrell;
    src: url(./Barrell.TTF) format("truetype");
}

.Barrell {
    font-family: Barrell;
}

@font-face {
    font-family: Counterfeit;
    src: url(./Counterfeit.TTF) format("truetype");
}

.Counterfeit {
    font-family: Counterfeit;
}

@font-face {
    font-family: Papermonsters;
    src: url(./Papermonsters.TTF) format("truetype");
}

.Papermonsters {
    font-family: Papermonsters;
}

@font-face {
    font-family: Broken;
    src: url(./Broken.TTF) format("truetype");
}

.Broken {
    font-family: Broken;
}

@font-face {
    font-family: Cocogoose;
    src: url(./Cocogoose.ttf) format("truetype");
}

.Cocogoose {
    font-family: Cocogoose;
}

@font-face {
    font-family: DeltaMachine;
    src: url(./DeltaMachine.ttf) format("truetype");
}

.DeltaMachine {
    font-family: DeltaMachine;
}

@font-face {
    font-family: Devotion;
    src: url(./Devotion.TTF) format("truetype");
}

.Devotion {
    font-family: Devotion;
}

@font-face {
    font-family: Violatio;
    src: url(./Violatio.ttf) format("truetype");
}

.Violatio {
    font-family: Violatio;
}

@font-face {
    font-family: Exciter;
    src: url(./Exciter.TTF) format("truetype");
}

.Exciter {
    font-family: Exciter;
}

@font-face {
    font-family: DeMo;
    src: url(./DeMo.TTF) format("truetype");
}

.DeMo {
    font-family: DeMo;
}

@font-face {
    font-family: Gahan;
    src: url(./Gahan.TTF) format("truetype");
}

.Gahan {
    font-family: Gahan;
}

@font-face {
    font-family: SufferWell;
    src: url(./SufferWell.ttf) format("truetype");
}

.SufferWell {
    font-family: SufferWell;
}

@font-face {
    font-family: peoplearepeople;
    src: url(./peoplearepeople.TTF) format("truetype");
}

.peoplearepeople_3 {
    font-family: peoplearepeople;
}

@font-face {
    font-family: Liquidn;
    src: url(./Liquidn.TTF) format("truetype");
}

.Liquidn {
    font-family: Liquidn;
}

@font-face {
    font-family: SoundsUniverse;
    src: url(./SoundsUniverse.ttf) format("truetype");
}

.SoundsUniverse {
    font-family: SoundsUniverse;
}